{% extends 'layout/template.html.twig' %}

{% block title %}
<title>Blog Detail</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main">
    <div class="blog-banner">
        <img src="{{ asset('assets/images/blog/large-01.jpg') }}" alt="Blog Banner">
    </div><!-- .blog-banner -->
    <div class="blog-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="blog-left">
                        <ul class="breadcrumbs">
                            <li><a title="Blog" href="#">Blog</a></li>
                            <li><a title="Unique stay" href="#">Unique stay</a></li>
                        </ul><!-- .breadcrumbs -->
                        <div class="entry-content">
                            <h1>A Perfectly Dreamy Weekend in Toronto</h1>
                            <ul class="entry-meta">
                                <li>
                                    by <a title="Ben Cobb" href="#">Ben Cobb</a>
                                </li>
                                <li>22 July 2019</li>
                                <li>3 comments</li>
                            </ul>
                            <div class="entry-desc">
                                <p>A weekend spent with our northern neighbors can go a few ways. Eager travelers with prebooked museum tours, locked-in-months-ago dinner reservations, and a Notes app full of must-dos will no doubt have a stellar weekend. And they will love every scheduled minute. But Toronto is a city for both the freewheeling wanderer and the tick-the-box itinerary maker. Neighborhoods like Yorkville, Kensington Market, and Dundas West are worthwhile destinations all on their own. Every leafy corner comes with world-class coffee, cute and laid-back wine bars, and food good enough to rival the boldest names in the city. The culture and the shopping aren’t too shabby either. Whether you identify as an Old Masters obsessive, a dedicated tapas eater, a craft-beer connoisseur, or none of the above, our city guide of tried-and-tested favorites is a solid place to start. But for an idea of what a whirlwind weekend over the border might look like—and some ideas on what to pack—start here.</p>
                                <p>Don’t get us wrong—we love a grand marble lobby as much as the next hotel guest. But Toronto has so many cool, more contemporary places to stay in its skyline, it would be a shame to miss them.</p>
                                <blockquote><p>There is no passion to be found playing small – in settling for a life that is less than the one you are capable of living.</p></blockquote>
                                <p class="entry-image columns-2">
                                    <img src="{{ asset('assets/images/blog/thumb-01.jpg') }}" alt="Blog detail 01">
                                    <img src="{{ asset('assets/images/blog/thumb-02.jpg') }}" alt="Blog detail 02">
                                </p>
                                <p>Kensington Market, and Dundas West are worthwhile destinations all on their own. Every leafy corner comes with world-class coffee, cute and laid-back wine bars, and food good enough to rival the boldest names in the city. The culture and the shopping aren’t too shabby either. </p>
                                <img src="{{ asset('assets/images/blog/thumb-06.jpg') }}" alt="Blog detail 03">
                                <p>Whether you identify as an Old Masters obsessive, a dedicated tapas eater, a craft-beer connoisseur, or none of the above, our city guide of tried-and-tested favorites is a solid place to start. </p>
                            </div><!-- .entry-desc -->
                            <div class="entry-author">
                                <img src="{{ asset('assets/images/avatars/male-1.jpg') }}" alt="Bangkok">
                                <div class="author-info">
                                    <div class="author-title">
                                        <a title="Nitithorn" href="#">Nitithorn</a>
                                        <ul class="author-social">
                                            <li>
                                                <a href="#">
                                                    <i class="la la-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="la la-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">	
                                                    <i class="la la-youtube"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">	
                                                    <i class="la la-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="author-desc"><p>I'm a beauty and travel blogger based in Paris. I have two dogs and love drinking coffee in the middle of night.</p></div>
                                </div>
                            </div><!-- .entry-author -->
                        </div><!-- .entry-content -->
                        <div class="related-post">
                            <h2>Related Articles</h2>
                            <div class="related-grid columns-3">
                                <article class="hover__box post">
                                    <div class="post__thumb hover__box__thumb">
                                        <a title="How to Get Around Rome on the Cheap in 2019" href="#"><img src="{{ asset('assets/images/blog/thumb-07.jpg') }}" alt="How to Get Around Rome on the Cheap in 2019"></a>
                                    </div>
                                    <div class="post__info">
                                        <ul class="post__category">
                                            <li><a title="Tips & Tricks" href="#">Tips & Tricks</a></li>
                                        </ul>
                                        <h3 class="post__title"><a title="How to Get Around Rome on the Cheap in 2019" href="#">How to Get Around Rome on the Cheap in 2019</a></h3>
                                    </div>
                                </article>
                                <article class="hover__box post">
                                    <div class="post__thumb hover__box__thumb">
                                        <a title="Europe Explained in Fewer than 140 Characters" href="#"><img src="{{ asset('assets/images/blog/thumb-08.jpg') }}" alt="Europe Explained in Fewer than 140 Characters"></a>
                                    </div>
                                    <div class="post__info">
                                        <ul class="post__category">
                                            <li><a title="Tips & Tricks" href="#">Tips & Tricks</a></li>
                                        </ul>
                                        <h3 class="post__title"><a title="Europe Explained in Fewer than 140 Characters" href="#">Europe Explained in Fewer than 140 Characters</a></h3>
                                    </div>
                                </article>
                                <article class="hover__box post">
                                    <div class="post__thumb hover__box__thumb">
                                        <a title="Travel: Expectations vs. Reality, Best of 2019" href="#"><img src="{{ asset('assets/images/blog/thumb-09.jpg') }}" alt="Travel: Expectations vs. Reality, Best of 2019"></a>
                                    </div>
                                    <div class="post__info">
                                        <ul class="post__category">
                                            <li><a title="Take a break" href="#">Take a break</a></li>
                                        </ul>
                                        <h3 class="post__title"><a title="Travel: Expectations vs. Reality, Best of 2019" href="#">Travel: Expectations vs. Reality, Best of 2019</a></h3>
                                    </div>
                                </article>
                            </div>
                        </div><!-- .related-post -->
                        <div class="place__box place__box--reviews entry-comment">
                            <h3 class="place__title--reviews">3 Comments</h3>
                            <ul class="place__comments">
                                <li>
                                    <div class="place__author">
                                        <div class="place__author__avatar">
                                            <a title="Sebastian" href="#"><img src="{{ asset('assets/images/avatars/male-2.jpg') }}" alt=""></a>
                                        </div>
                                        <div class="place__author__info">
                                            <h4>
                                                <a title="Sebastian" href="#">Sebastian</a>
                                            </h4>
                                            <span class="time">October 1, 2019</span>
                                        </div>
                                    </div>
                                    <div class="place__comments__content">
                                        <p>Went there last Saturday for the first time to watch my favorite djs (Kungs, Sam Feldet and Watermat) and really had a great experience. </p>
                                    </div>
                                    <a title="Reply" href="#" class="place__comments__reply">							
                                        <i class="la la-comment-dots"></i>
                                        Reply
                                    </a>
                                    <ul>
                                        <li>
                                            <div class="place__author">
                                                <div class="place__author__avatar">
                                                    <a title="Chiemeka" href="#"><img src="{{ asset('assets/images/avatars/male-3.jpg') }}" alt=""></a>
                                                </div>
                                                <div class="place__author__info">
                                                    <h4>
                                                        <a title="Chiemeka" href="#">Chiemeka</a>
                                                    </h4>
                                                    <span class="time">October 1, 2019</span>
                                                </div>
                                            </div>
                                            <div class="place__comments__content">
                                                <p>Thank you for your kind words.It was truly very nice to meet you. I am glad to read you enjoyed the area and the cottage.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="place__author">
                                        <div class="place__author__avatar">
                                            <a title="Nitithorn" href="#"><img src="{{ asset('assets/images/avatars/female-2.jpg') }}" alt=""></a>
                                        </div>
                                        <div class="place__author__info">
                                            <h4>
                                                <a title="Nitithorn" href="#">Nitithorn</a>
                                            </h4>
                                            <span class="time">October 1, 2019</span>
                                        </div>
                                    </div>
                                    <div class="place__comments__content">
                                        <p>Went there last Saturday for the first time to watch my favorite djs (Kungs, Sam Feldet and Watermat) and really had a great experience.</p>
                                    </div>
                                    <a title="Reply" href="#" class="place__comments__reply">							
                                        <i class="la la-comment-dots"></i>
                                        Reply
                                    </a>
                                </li>
                            </ul>
                            <p class="place__login"><a title="Login" href="#">Login </a>to reviews</p>
                        </div><!-- .place__box -->
                    </div><!-- .place__left -->
                </div>
                <div class="col-lg-3">
                    <div class="sidebar sidebar--shop sidebar--border">
                        <aside class="sidebar--shop__item widget">
                            <h3 class="sidebar--shop__title">Best seller</h3>
                            <div class="sidebar--shop__content">
                                <div class="product-small">
                                    <div class="product-small__thumb">
                                        <a title="Mongolia" href="#"><img src="{{ asset('assets/images/shop/product-07.jpg') }}" alt="Mongolia"></a>
                                    </div>
                                    <div class="product-small__info">
                                        <h3><a title="Monggolia Travel Guide" href="#">Monggolia Travel Guide</a></h3>
                                        <div class="product-small__price">Price: <span>$59</span></div>
                                    </div>
                                </div>
                                <div class="product-small">
                                    <div class="product-small__thumb">
                                        <a title="Turkey" href="#"><img src="{{ asset('assets/images/shop/product-05.jpg') }}" alt="Turkey"></a>
                                    </div>
                                    <div class="product-small__info">
                                        <h3><a title="Vietnam Travel Guide" href="#">Vietnam Travel Guide</a></h3>
                                        <div class="product-small__price">Price: <span>$44</span></div>
                                    </div>
                                </div>
                                <div class="product-small">
                                    <div class="product-small__thumb">
                                        <a title="India" href="#"><img src="{{ asset('assets/images/shop/product-02.jpg') }}" alt="India"></a>
                                    </div>
                                    <div class="product-small__info">
                                        <h3><a title="India Travel Guide" href="#">India Travel Guide</a></h3>
                                        <div class="product-small__price">Price: <span>$35</span></div>
                                    </div>
                                </div>
                                
                            </div>
                        </aside><!-- .sidebar--shop__item -->
                        
                    </div><!-- .sidebar -->
                </div>
            </div>
        </div>
    </div><!-- .blog-content -->
</main><!-- .site-main -->
{% endblock %}