{% extends 'layout/template.html.twig' %}

{% block title %}
<title>Blog - All</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main">
    <div class="page-title page-title--small page-title--blog align-left" style="background-image: url({{ app.request.baseUrl }}/assets/images/bg/bg-blog.png);">
        <div class="container">
            <div class="page-title__content">
                <h1 class="page-title__name">Blog</h1>
                <p class="page-title__slogan">Let our experts inspire you</p>
            </div>
        </div>	
    </div><!-- .page-title -->
    <div class="page-content page-content-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sidebar">
                        <aside class="widget widget-category">
                            <h3 class="widget-title">Categories</h3>
                            <div class="widget-content">
                                <ul>
                                    {% for blogtype in blogtypes %}
                                    <li><a href="#">{{blogtype.getName}} ({{ blogtype.blogs|length }})</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside><!-- .widget-category -->
                        <aside class="widget widget-post">
                            <h3 class="widget-title">Top Article</h3>
                            <div class="widget-content">
                                {% for blog in top_blogs %}
                                <article class="post">
                                    <img src="{{ asset(blog.getImage) }}" alt="{{ blog.getTitle }}">
                                    <div class="post__info">
                                        <ul class="post__category">
                                            <li><a title="{{ blog.type.getName }}" href="{{ path('blog_detail', {'id': blog.getId}) }}">{{ blog.type.getName }}</a></li>
                                        </ul>
                                        <h3 class="post__title"><a title="{{ blog.getTitle }}" href="#">{{ blog.getTitle }}</a></h3>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </aside><!-- .widget-post -->
                    </div><!-- .sidebar -->
                </div>
                <div class="col-lg-8">
                    <div class="result-post">{{ blogs|length }} articles</div>
                    <div class="post-grid columns-2">
                        {% for blog in blogs %}
                        <article class="hover__box post">
                            <div class="post__thumb hover__box__thumb">
                                <a title="{{ blog.getTitle }}" href="{{ path('blog_detail', {'id': blog.getId}) }}"><img src="{{ asset(blog.getImage) }}" alt="{{ blog.getTitle }}"></a>
                            </div>
                            <div class="post__info">
                                <ul class="post__category">
                                    <li><a title="{{ blog.type.getName }}" href="{{ path('blog_detail', {'id': blog.getId}) }}">{{ blog.type.getName }}</a></li>
                                </ul>
                                <h3 class="post__title"><a title="{{ blog.getTitle }}" href="#">{{ blog.getTitle }}</a></h3>
                            </div>
                        </article>
                        {% endfor %}
                    </div><!-- .post-grid -->
                    <div class="pagination align-left">
                        <div class="pagination__numbers">
                            <span>1</span>
                            <a title="2" href="#">2</a>
                            <a title="Next" href="#">
                                <i class="la la-angle-right"></i>
                            </a>
                        </div>
                    </div><!-- .pagination -->
                </div>
            </div>
        </div>
    </div>
</main><!-- .site-main -->
{% endblock %}