{% extends 'layout/admin/app.html.twig' %}

{% block title %}
<title>Admin Listing Edit</title>
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Listing Edit</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active">Listing Edit</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="container-fluid">
    <div class="row" style="display: flex; justify-content: center; margin: 50px;">
      <!-- left column -->
      <div class="col-md-6 col-md-offset-3">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit Listing</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="{{ path('listing_status', {'id': listing.getId}) }}" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label>Status</label>
                <select class="form-control select2" name="status" style="width: 100%;" value="{{ listing.getStatus }}">
                  {% for status in statuslist %}
                    {% if status == listing.getStatus %}
                    <option value="{{ status }}" selected>{{ status }}</option>
                    {% else %}
                    <option value="{{ status }}">{{ status }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <a href="{{ path('admin_listing') }}" class="btn btn-info">Cancel</a>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
//Date range picker
$('#reservationdate').datetimepicker({
    format: 'L'
});
</script>
{% endblock %}