{% extends 'layout/template.html.twig' %}

{% block title %}
<title>Owner - Wishlist</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main">
    <div class="site-content owner-content">
        {{ include('nav/owner.top.html.twig') }}
        <div class="container">
            <div class="member-wishlist-wrap">
                {{ include('nav/owner.subtitle.html.twig') }}
                <div class="member-filter">
                    <form action="{{ path('wishlist_search') }}" method="POST" style="width: 100%;">
                        <div class="row">
                            <div class="field-select col-md-3" style="width: 90% im !important;">
                                <select name="city_id">
                                    <option value="0">All cities</option>
                                    {% for city in cities %}
                                        {% if (filter is defined) and ('city_id' in filter|keys) and (filter.city_id == city.getId) %}
                                        <option value="{{ city.getId }}" selected>{{ city.getName }}</option>
                                        {% else %}
                                        <option value="{{ city.getId }}">{{ city.getName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <i class="la la-angle-down"></i>
                            </div>
                            <div class="field-select col-md-3" style="width: 90% im !important;">
                                <select name="category_id">
                                    <option value="0">All categories</option>
                                    {% for category in categories %}
                                        {% if (filter is defined) and ('category_id' in filter|keys) and (filter.category_id == category.getId) %}
                                        <option value="{{ category.getId }}" selected>{{ category.getName }}</option>
                                        {% else %}
                                        <option value="{{ category.getId }}">{{ category.getName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <i class="la la-angle-down"></i>
                            </div>
                            <div class="field-group col-md-3">
                                {% if (filter is defined) and ('id' in filter|keys) %}
                                <input type="text" id="id" class="search-input" placeholder="Search id" name="id" value="{{ filter.id }}">
                                {% else %}
                                <input type="text" id="id" class="search-input" placeholder="Search id" name="id">
                                {% endif %}
                            </div>
                            <div class="field-group col-md-3">
                                {% if (filter is defined) and ('name' in filter|keys) %}
                                <input type="text" id="name" class="search-input" placeholder="Search name" name="name" value="{{ filter.name }}">
                                {% else %}
                                <input type="text" id="name" class="search-input" placeholder="Search name" name="name">
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="search-button">
                            Search
                        </button>
                    </form>
                </div><!-- .member-filter -->
                <div class="mw-box">
                    <div class="row">
                        {% for listing in listings %}
                        <div class="col-lg-3 col-md-6">
                            <div class="place-item layout-02 place-hover">
                            <div class="place-inner">
                                <div class="place-thumb">
                                    <a class="entry-thumb" href="{{ path('listing_detail', {'id': listing.getId}) }}"><img src="{{ asset(listing.getCoverImage) }}" alt=""></a>
                                    <a href="{{ path('wishlist_detach', {'id': listing.getId}) }}" class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                        <span class="icon-heart">
                                            <i class="la la-bookmark large"></i>
                                        </span>                                    
                                    </a>       
                                    <a class="entry-category purple" href="#">
                                        <i class="las la-spa"></i><span>{{ listing.category.getName }}</span>
                                    </a>
                                    <a href="#" class="author" title="Author"><img src="{{ asset(listing.user.getImage) }}" alt="Author"></a>
                                </div>       
                                <div class="entry-detail">
                                    <div class="entry-head">
                                        <div class="place-type list-item">
                                            <span>{{ listing.category.getName }}</span>
                                        </div>
                                        <div class="place-city">
                                            <a href="#">{{ listing.city.getName }}</a>
                                        </div>
                                    </div>
                                    <h3 class="place-title"><a href="04_place-details-1.html">{{ listing.getName }}</a></h3>
                                    <div class="entry-bottom">
                                        <div class="place-preview">
                                            <div class="place-rating">
                                                <span>{{ listing.review_rate }}</span>
                                                <i class="la la-star"></i>
                                            </div>
                                            <span class="count-reviews">({{ listing.review_count }} Reviews)</span>
                                        </div>
                                        <div class="place-price">
                                            <span>{{ listing.getPriceRange }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- .mw-box -->
            </div><!-- .member-wrap -->
            <br><br>
        </div>
    </div><!-- .site-content -->
</main><!-- .site-main -->
{% endblock %}