{% extends 'layout/template.html.twig' %}

{% block title %}
<title>Owner - Inqueries</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main">
    <div class="site-content owner-content">
        {{ include('nav/owner.top.html.twig') }}
        <div class="container">
            <div class="member-place-wrap">
                {{ include('nav/owner.subtitle.html.twig') }}
                <div class="member-filter">
                    <form action="{{ path('request_search') }}" method="POST" style="width: 100%;">
                        <div class="row">
                            <div class="field-select col-md-3" style="width: 90% im !important;">
                                <select name="listing_id">
                                    <option value="0">All listings</option>
                                    {% for listing in listings %}
                                        {% if (filter is defined) and ('listing_id' in filter|keys) and (filter.listing_id == listing.getId) %}
                                        <option value="{{ listing.getId }}" selected>{{ listing.getName }}</option>
                                        {% else %}
                                        <option value="{{ listing.getId }}">{{ listing.getName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <i class="la la-angle-down"></i>
                            </div>
                            <div class="field-group col-md-3">
                                {% if (filter is defined) and ('name' in filter|keys) %}
                                <input type="text" id="name" class="search-input" placeholder="Search name" name="name" value="{{ filter.name }}">
                                {% else %}
                                <input type="text" id="name" class="search-input" placeholder="Search name" name="name">
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="search-button">
                            Search
                        </button>
                    </form>
                </div><!-- .member-filter -->
                <table class="member-place-list table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <div class="field-check">
                                    <label for="all">
                                        <input id="all" type="checkbox" value="all">
                                        <span class="checkmark">
                                            <i class="la la-check"></i>
                                        </span>
                                    </label>
                                </div>
                            </th>
                            <th>ID</th>
                            <th>List name</th>
                            <th>Avatar</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr>
                            <td data-title="">
                                <div class="field-check">
                                    <label for="place01">
                                        <input id="place01" type="checkbox" value="all">
                                        <span class="checkmark">
                                            <i class="la la-check"></i>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td data-title="ID">{{ request.getId }}</td>
                            <td data-title="List Name">{{ request.list_name }}</td>
                            <td data-title="Avatar"><img src="{{ asset(request.getAvatar) }}" alt="Avatar"></td>
                            <td data-title="First name">{{ request.getFirstName }}</td>
                            <td data-title="Last Name">{{ request.getLastName }}</td>
                            <td data-title="Email">{{ request.getEmail }}</td>
                            <td data-title="Phone Number">{{ request.getPhoneNumber }}</td>
                            <td data-title="" class="place-action">
                                <a href="{{ path('request_delete', {'id': request.getId}) }}" class="" title=""><i class="la la-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination align-left">
                    <div class="pagination__numbers">
                        <span>1</span>
                        <a title="2" href="#">2</a>
                        <a title="3" href="#">3</a>
                        <a title="Next" href="#">
                            <i class="la la-angle-right"></i>
                        </a>
                    </div>
                </div><!-- .pagination -->
            </div><!-- .member-place-wrap -->
        </div>
    </div><!-- .site-content -->
</main><!-- .site-main -->
{% endblock %}