{% extends 'layout/app.html.twig' %}

{% block title %}
<title>Add New Listing</title>
{% endblock %}

{% block body %}
{% if request is defined %}
{% endif %}
<main id="main" class="site-main listing-main">
    <div class="listing-nav">
        <div class="listing-menu nav-scroll">
            <ul>
                <li class="active"><a href="#Informations générales" title="Genaral"><span class="icon"><i class="la la-cog"></i></span><span>Informations générales</span></a></li>
                <li><a href="#hightlight" title="Points forts"><span class="icon"><i class="la la-wifi"></i></span><span>Points forts</span></a></li>
                <li><a href="#location" title="Localisation"><span class="icon"><i class="la la-map-marker"></i></span><span>Localisation</span></a></li>
                <li><a href="#contact" title="Contact info"><span class="icon"><i class="la la-phone"></i></span><span>Contact info</span></a></li>
                <li><a href="#social" title="Réseaux sociaux"><span class="icon"><i class="la la-link"></i></span><span>Réseaux sociaux</span></a></li>
                <li><a href="#open" title="Horaires"><span class="icon"><i class="la la-business-time"></i></span><span>Horaires</span></a></li>
                <li><a href="#media" title="Photos/Videos"><span class="icon"><i class="la la-image"></i></span><span>Photos/Videos</span></a></li>
            </ul>
        </div>
    </div><!-- .listing-nav -->
    <div class="listing-content">
        <h2>Ajouter une annonce</h2>
        <form action="{{ path('listing_update', {'id': listing.getId}) }}" class="listing-form" id="add_listng_from" method="POST" enctype="multipart/form-data">
            <div class="listing-box" id="genaral">
                <h3>Informations générales</h3>
                <div class="field-inline">
                    <div class="field-group field-input">
                        <label for="name">Nom de l'annonce</label>
                        {% if (old is defined) and ('name' in old|keys) %}
                        <input type="text" id="name" placeholder="Le nom de votre annonce" name="name" value="{{ old.name }}">
                        {% else %}
                        <input type="text" id="name" placeholder="Le nom de votre annonce" name="name" value="{{ listing.getName }}">
                        {% endif %}
                        {% if (errors is defined) and ('name' in errors|keys) %}
                        <span style="color: red;">{{ errors.name }}</span>
                        {% endif %}
                    </div>
                    <div class="field-group field-select">
                        <label for="price_range">les prix</label>
                        <select name="price_range" id="price_range">
                            <option value="0">None</option>
                            <option value="1">$</option>
                            <option value="2">$$</option>
                            <option value="3">$$$</option>
                            <option value="4">$$$$</option>
                        </select>
                        <i class="la la-angle-down"></i>
                    </div>
                </div>
                <div class="field-group">
                    <h4 class="label">Description</h4>
                    {% if (old is defined) and ('description' in old|keys) %}
                    <textarea name="description" rows="6" style="width: 100%;">{{ old.description }}</textarea>
                    {% else %}
                    <textarea name="description" rows="6" style="width: 100%;">{{ listing.getDescription }}</textarea>
                    {% endif %}
                    {% if (errors is defined) and ('description' in errors|keys) %}
                    <span style="color: red;">{{ errors.description }}</span>
                    {% endif %}
                    <!-- <div id="editor"></div> -->
                </div>
                <div class="field-group field-select">
                    <label for="category">catégorie</label>
                    <select data-placeholder="Veuillez choisir une catégorie" name="category_id" id="category" value="{{ listing.getCategoryId }}">
                        {% for category in categories %}
                        <option value="{{ category.getId }}">{{ category.getName }}</option>
                        {% endfor %}
                    </select>
                    <i class="la la-angle-down"></i>
                </div>
                <div class="field-group field-select">
                    <label for="place_type">Type d'annonce</label>
                    <select data-placeholder="Veuillez choisir un type" name="place_type_id" id="place_type_id" value="{{ listing.getPlaceTypeId }}">
                        {% for placetype in placetypes %}
                        <option value="{{ placetype.getId }}">{{ placetype.getName }}</option>
                        {% endfor %}
                    </select>
                    <i class="la la-angle-down"></i>
                </div>
                <div class="field-group field-select">
                    <label for="city">City</label>
                    <select data-placeholder="" name="city_id" id="city_id" value="{{ listing.getCityId }}">
                        {% for city in cities %}
                        <option value="{{ city.getId }}">{{ city.getName }}</option>
                        {% endfor %}
                    </select>
                    <i class="la la-angle-down"></i>
                </div>
            </div><!-- .listing-box -->
            <div class="listing-box" id="hightlight">
                <h3>Points forts</h3>
                <div class="field-group field-check">
                    <label for="wifi">
                        <input type="checkbox" name="wifi" id="wifi" value=true {{ listing.getWifi? 'checked': '' }}>Wifi gratuit
                        <span class="checkmark">																
                            <i class="la la-check"></i>
                        </span>
                    </label>
                    <label for="accept_card">
                        <input type="checkbox" name="accept_card" id="accept_card" value=true {{ listing.getAcceptCard? 'checked': '' }}>Accepte les cartes
                        <span class="checkmark">																
                            <i class="la la-check"></i>
                        </span>
                    </label>
                    <label for="airport_taxi">
                        <input type="checkbox" name="airport_taxi" id="airport_taxi" value=true {{ listing.getAirportTaxi? 'checked': '' }}>Airport taxi
                        <span class="checkmark">
                            <i class="la la-check"></i>
                        </span>
                    </label>
                    <label for="toilet">
                        <input type="checkbox" name="toilet" id="toilet" value=true {{ listing.getToilet? 'checked': '' }}>Toilettes
                        <span class="checkmark">																
                            <i class="la la-check"></i>
                        </span>
                    </label>
                    <label for="parking">
                        <input type="checkbox" name="parking" id="parking" value=true {{ listing.getParking? 'checked': '' }}>Parking gratuit
                        <span class="checkmark">																
                            <i class="la la-check"></i>
                        </span>
                    </label>
                    <label for="garden">
                        <input type="checkbox" name="garden" id="garden" value=true {{ listing.getGarden? 'checked': '' }}>Jardin
                        <span class="checkmark">																
                            <i class="la la-check"></i>
                        </span>
                    </label>
                    <label for="terrace">
                        <input type="checkbox" name="terrace" id="terrace" value=true {{ listing.getTerrace? 'checked': '' }}>Terrace
                        <span class="checkmark">																
                            <i class="la la-check"></i>
                        </span>
                    </label>
                    <label for="air_conditioner">
                        <input type="checkbox" name="air_conditioner" id="air_conditioner" value=true {{ listing.getAirConditioner? 'checked': '' }}>Climatisation
                        <span class="checkmark">																
                            <i class="la la-check"></i>
                        </span>
                    </label>
                </div>
            </div><!-- .listing-box -->
            <div class="listing-box" id="location">
                <h3>Localisation exact</h3>
                <div class="field-group">
                    <label for="address">Addresse</label>
                    {% if (old is defined) and ('address' in old|keys) %}
                    <input type="text" id="address" placeholder="Full Address" name="address" value="{{ old.address }}">
                    {% else %}
                    <input type="text" id="address" placeholder="Full Address" name="address" value="{{ listing.getAddress }}">
                    {% endif %}
                    {% if (errors is defined) and ('address' in errors|keys) %}
                    <span style="color: red;">{{ errors.address }}</span>
                    {% endif %}
                </div>
                <div class="field-group field-maps">
                    <div class="field-inline">
                        <label for="pac-input">Place Location at Google Map</label>
                        <div class="field-button field-pin">
                            <a href="#" id="drop" onclick="drop()">
                                <i class="la la-lock"></i>
                                Unlock Pin Location
                            </a>
                            <a href="#" id="clear" onclick="clearMarkers()">					
                                <?xml version="1.0" encoding="UTF-8"?>
                                <i class="la la-lock-open"></i>
                                Lock Pin Location
                            </a>
                        </div>
                    </div>
                    <div class="field-map">
                        <input id="pac-input" class="address-input" type="text" placeholder="Search Box" name="googlemap_address" value="{{ listing.getGooglemapAddress }}">
                        <input type="hidden" id="La_g" name="La_g" value="{{ listing.getLaG }}">
                        <input type="hidden" id="La_i" name="La_i" value="{{ listing.getLaI }}">
                        <input type="hidden" id="Ra_g" name="Ra_g" value="{{ listing.getRaG }}">
                        <input type="hidden" id="Ra_i" name="Ra_i" value="{{ listing.getRaI }}">
                        <input type="hidden" id="lat" name="lat" value="{{ listing.getLat }}">
                        <input type="hidden" id="lng" name="lng" value="{{ listing.getLng }}">
                        <div id="location-map"></div>
                    </div>
                </div>
            </div><!-- .listing-box -->
            <div class="listing-box" id="contact">
                <h3>Contact Info</h3>
                <div class="field-group">
                    <label for="email">Email</label>
                    {% if (old is defined) and ('email' in old|keys) %}
                    <input type="email" id="email" placeholder="Your email address" name="email" value="{{ old.email }}">
                    {% else %}
                    <input type="email" id="email" placeholder="Your email address" name="email" value="{{ listing.getEmail }}">
                    {% endif %}
                    {% if (errors is defined) and ('email' in errors|keys) %}
                    <span style="color: red;">{{ errors.email }}</span>
                    {% endif %}
                </div>
                <div class="field-group">
                    <label for="phone">Phone number (optional)</label>
                    <input type="tel" id="phone" placeholder="Your phone number" name="phone" value="{{ listing.getPhone }}">
                </div>
                <div class="field-group">
                    <label for="website">Website (optional)</label>
                    <input type="url" id="website" placeholder="Your website url" name="website" value="{{ listing.getWebsite }}">
                </div>
            </div><!-- .listing-box -->
            <div class="listing-box" id="social">
                <h3>Social Networks</h3>
                <div class="field-group">
                    <label for="place_socials">Social Networks (optional)</label>
                    <div class="field-accordion">
                        <div class="accordion-item {{ listing.getFacebook? 'open': '' }}">
                            <div class="accordion-top field-check">
                                <label for="facebook">
                                    <input type="checkbox" name="facebook" id="facebook" value=true {{ listing.getFacebook? 'checked': '' }}>facebook
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Never</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-group field-input">
                                    <input type="url" name="facebook_url" placeholder="Enter Url" value="{{ listing.getFacebookUrl }}">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="instagram">
                                    <input type="checkbox" name="instagram" id="instagram" value=true {{ listing.getInstagram? 'checked': '' }}>instagram
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Never</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-group field-input">
                                    <input type="url" name="instagram_url" placeholder="Enter Url" value="{{ listing.getInstagramUrl }}">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="youtube">
                                    <input type="checkbox" name="youtube" id="youtube" value=true {{ listing.getYoutube? 'checked': '' }}>youtube
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Never</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-group field-input">
                                    <input type="url" name="youtube_url" placeholder="Enter Url" value="{{ listing.getYoutubeUrl }}">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="twitter">
                                    <input type="checkbox" name="twitter" id="twitter" value=true {{ listing.getTwitter? 'checked': '' }}>twitter
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Never</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-group field-input">
                                    <input type="url" name="twitter_url" placeholder="Enter Url" value="{{ listing.getTwitterUrl }}">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="google">
                                    <input type="checkbox" name="google" id="google" value=true {{ listing.getGoogle? 'checked': '' }}>google
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Never</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-group field-input">
                                    <input type="url" name="google_url" placeholder="Enter Url" value="{{ listing.getGoogleUrl }}">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item {{ listing.getPinterest? 'open': '' }}">
                            <div class="accordion-top field-check">
                                <label for="pinterest">
                                    <input type="checkbox" name="pinterest" id="pinterest" value=true {{ listing.getPinterest? 'checked': '' }}>pinterest
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Never</span>
                            </div>
                            <div class="accordion-bot" style="display: {{ listing.getPinterest? 'block': 'none' }};">
                                <div class="field-group field-input">
                                    <input type="url" name="pinterest_url" placeholder="Enter Url" value="{{ listing.getPinterestUrl }}">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="snapchat">
                                    <input type="checkbox" name="snapchat" id="snapchat" value=true {{ listing.getSnapchat? 'checked': '' }}>snapchat
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Never</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-group field-input">
                                    <input type="url" name="snapchat_url" placeholder="Enter Url" value="{{ listing.getSnapchatUrl }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .listing-box -->
            <div class="listing-box" id="open">
                <h3>Opening Hours</h3>
                <div class="field-group">
                    <label for="place_email">Select days to add hours</label>
                    <div class="field-accordion">
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="monday">
                                    <input type="checkbox" name="monday" id="monday" value=true {{ listing.getMonday? 'checked': '' }}>Monday
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Closed</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-inline">
                                    <div class="field-group field-select">
                                        <select name="monday_start_time" value="{{ listing.getMondayStartTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                    <div class="field-group field-select">
                                        <select name="monday_end_time" value="{{ listing.getMondayEndTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="tuesday">
                                    <input type="checkbox" name="tuesday" id="tuesday" value=true {{ listing.getTuesday? 'checked': '' }}>Tuesday
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Closed</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-inline">
                                    <div class="field-group field-select">
                                        <select name="tuesday_start_time" value="{{ listing.getTuesdayStartTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                    <div class="field-group field-select">
                                        <select name="tuesday_end_time" value="{{ listing.getTuesdayEndTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="wednesday">
                                    <input type="checkbox" name="wednesday" id="wednesday" value=true {{ listing.getWednesday? 'checked': '' }}>Wednesday
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Closed</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-inline">
                                    <div class="field-group field-select">
                                        <select name="wednesday_start_time" value="{{ listing.getWednesdayStartTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                    <div class="field-group field-select">
                                        <select name="wednesday_end_time" value="{{ listing.getWednesdayEndTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="thursday">
                                    <input type="checkbox" name="thursday" id="thursday" value=true {{ listing.getThursday? 'checked': '' }}>Thursday
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Closed</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-inline">
                                    <div class="field-group field-select">
                                        <select name="thursday_start_time" value="{{ listing.getThursdayStartTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                    <div class="field-group field-select">
                                        <select name="thursday_close_time" value="{{ listing.getThursdayEndTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="friday">
                                    <input type="checkbox" name="friday" id="friday" value=true {{ listing.getFriday? 'checked': '' }}>Friday
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Closed</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-inline">
                                    <div class="field-group field-select">
                                        <select name="friday_start_time" value="{{ listing.getFridayStartTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                    <div class="field-group field-select" value="{{ listing.getFridayEndTime }}">
                                        <select name="friday_end_time">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="saturday">
                                    <input type="checkbox" name="saturday" id="saturday" value=true {{ listing.getSaturday? 'checked': '' }}>Saturday
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Closed</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-inline">
                                    <div class="field-group field-select">
                                        <select name="saturday_start_time" value="{{ listing.getSaturdayStartTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                    <div class="field-group field-select">
                                        <select name="saturday_end_time" value="{{ listing.getSaturdayEndTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-top field-check">
                                <label for="sunday">
                                    <input type="checkbox" name="sunday" id="sunday" value=true {{ listing.getSunday? 'checked': '' }}>Sunday
                                    <span class="checkmark">																
                                        <i class="la la-check"></i>
                                    </span>
                                </label>
                                <span>Closed</span>
                            </div>
                            <div class="accordion-bot">
                                <div class="field-inline">
                                    <div class="field-group field-select">
                                        <select name="sunday_start_time" value="{{ listing.getSundayStartTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                    <div class="field-group field-select">
                                        <select name="sunday_end_time" value="{{ listing.getSundayEndTime }}">
                                            <option value="0">00:00 AM</option>
                                            <option value="1">01:00 AM</option>
                                            <option value="2">02:00 AM</option>
                                            <option value="3">03:00 AM</option>
                                            <option value="4">04:00 AM</option>
                                            <option value="5">05:00 AM</option>
                                            <option value="6">06:00 AM</option>
                                            <option value="7">07:00 AM</option>
                                            <option value="8">08:00 AM</option>
                                            <option value="9">09:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="13">01:00 PM</option>
                                            <option value="14">02:00 PM</option>
                                            <option value="15">03:00 PM</option>
                                            <option value="16">04:00 PM</option>
                                            <option value="17">05:00 PM</option>
                                            <option value="18">06:00 PM</option>
                                            <option value="19">07:00 PM</option>
                                            <option value="20">08:00 PM</option>
                                            <option value="21">09:00 PM</option>
                                            <option value="22">10:00 PM</option>
                                            <option value="23">11:00 PM</option>
                                        </select>
                                        <i class="la la-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .listing-box -->
            <div class="listing-box" id="media">
                <h3>Media</h3>
                <div class="field-group field-file">
                    <label for="cover_image">Cover image</label>
                    <label for="cover_image" class="preview">
                        <input type="file" id="cover_image" name="cover_image" class="upload-file" data-max-size="1024000">
                        <img class="img_preview" src="{{ asset(listing.getCoverImage) }}" alt="" />
                        <i class="la la-cloud-upload-alt"></i>
                    </label>
                    <div class="field-note">Maximum file size: 1 MB.</div>
                </div>
                <div class="field-group field-file">
                    <label for="gallery_image">Gallery Images (optional)</label>
                    <label for="gallery_image" class="preview">
                        <input type="file" id="gallery_image" name="gallery_image" class="upload-file" data-max-size="1024000">
                        <img class="img_preview" src="{{ asset(listing.getGalleryImage) }}" alt="" />
                        <i class="la la-cloud-upload-alt"></i>
                    </label>
                    <div class="field-note">Maximum file size: 1 MB.</div>
                </div>
                <div class="field-group">
                    <label for="video">Video (optional)</label>
                    <input type="url" id="video" placeholder="Youtube video url" name="video" value="{{ listing.video }}">
                </div>
            </div><!-- .listing-box -->
            <div class="field-group field-submit">
                <input type="submit" name="submit" value="Submit" class="btn">
            </div>
        </form>
    </div><!-- .listing-content -->
</main><!-- .site-main -->
{% endblock %}
{% block javascripts %}
<script>
    var neighborhoods = [
        {lat: 52.511, lng: 13.447},
    ];
    var laG = {{listing.getLaG}};
    var laI = {{listing.getLaI}};
    var raG = {{listing.getRaG}};
    var raI = {{listing.getRaI}};
    var lat = {{listing.getLat}};
    var lng = {{listing.getLng}};
    var markers = [];
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('location-map'), {
          zoom: 13,
          center: {lat: 52.511, lng: 13.447},
          disableDefaultUI: true,
          styles: [
            {
                "featureType": "landscape",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "stylers": [
                    {
                        "hue": "#00aaff"
                    },
                    {
                        "saturation": -100
                    },
                    {
                        "gamma": 2.15
                    },
                    {
                        "lightness": 12
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "lightness": 24
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 57
                    }
                ]
            }
        ]
        });
        var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(raG, laG),
          new google.maps.LatLng(raI, laI));
        map.fitBounds(defaultBounds);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map,
            title: 'Snazzy!'
        });

        var input = document.getElementById('pac-input');

        var searchBox = new google.maps.places.SearchBox(input, {
          bounds: defaultBounds
        });

        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                      console.log("Returned place contains no geometry");
                      return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                      map: map,
                      icon: icon,
                      title: place.name,
                      position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                      // Only geocodes have viewport.
                      bounds.union(place.geometry.viewport);
                } else {
                      bounds.extend(place.geometry.location);
                }
                $("#lat").val(place.geometry.location.lat());
                $("#lng").val(place.geometry.location.lng());
            });
            map.fitBounds(bounds);

            // set input
            $("#La_g").val(bounds.La.g);
            $("#La_i").val(bounds.La.i);
            $("#Ra_g").val(bounds.Ra.g);
            $("#Ra_i").val(bounds.Ra.i);
        });
    }

    function drop() {
         clearMarkers();
        for (var i = 0; i < neighborhoods.length; i++) {
          addMarkerWithTimeout(neighborhoods[i], i * 200);
        }
    }

    function addMarkerWithTimeout(position, timeout) {
        window.setTimeout(function() {
          markers.push(new google.maps.Marker({
            position: position,
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP
          }));
        }, timeout);
    }

    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-2mhVoLX7oIOgRQ-6bxlJt4TF5k0xhWc&libraries=places&callback=initMap" async defer></script>
{% endblock %}
