{% extends 'layout/template.html.twig' %}

{% block title %}
<title>Owner - Listings</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main">
    <div class="site-content owner-content">
        {{ include('nav/owner.top.html.twig') }}
        <div class="container">
            <div class="member-place-wrap">
                {{ include('nav/owner.subtitle.html.twig') }}
                <div class="member-filter">
                    <form action="{{ path('listing_search') }}" method="POST" style="width: 100%;">
                        <div class="row">
                            <div class="field-select col-md-3" style="width: 90% im !important;">
                                <select name="city">
                                    <option value="0">All cities</option>
                                    {% for city in cities %}
                                        {% if (filter is defined) and ('city' in filter|keys) and (filter.city == city) %}
                                        <option value="{{ city }}" selected>{{ city }}</option>
                                        {% else %}
                                        <option value="{{ city }}">{{ city }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <i class="la la-angle-down"></i>
                            </div>
                            <div class="field-select col-md-3" style="width: 90% im !important;">
                                <select name="category">
                                    <option value="0">All categories</option>
                                    {% for category in categories %}
                                        {% if (filter is defined) and ('category' in filter|keys) and (filter.category == category) %}
                                        <option value="{{ category }}" selected>{{ category }}</option>
                                        {% else %}
                                        <option value="{{ category }}">{{ category }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <i class="la la-angle-down"></i>
                            </div>
                            <div class="field-group col-md-3">
                                {% if (filter is defined) and ('id' in filter|keys) %}
                                <input type="text" id="id" class="search-input" placeholder="Search id" name="id" value="{{ filter.id }}">
                                {% else %}
                                <input type="text" id="id" class="search-input" placeholder="Search id" name="id">
                                {% endif %}
                            </div>
                            <div class="field-group col-md-3">
                                {% if (filter is defined) and ('name' in filter|keys) %}
                                <input type="text" id="name" class="search-input" placeholder="Search name" name="name" value="{{ filter.name }}">
                                {% else %}
                                <input type="text" id="name" class="search-input" placeholder="Search name" name="name">
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="search-button">
                            Search
                        </button>
                    </form>
                </div><!-- .member-filter -->
                <table class="member-place-list table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <div class="field-check">
                                    <label for="all">
                                        <input id="all" type="checkbox" value="all">
                                        <span class="checkmark">
                                            <i class="la la-check"></i>
                                        </span>
                                    </label>
                                </div>
                            </th>
                            <th>ID</th>
                            <th>Thumb</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listing in listings %}
                        <tr>
                            <td data-title="">
                                <div class="field-check">
                                    <label for="place01">
                                        <input id="place01" type="checkbox" value="all">
                                        <span class="checkmark">
                                            <i class="la la-check"></i>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td data-title="ID">{{ listing.getId }}</td>
                            <td data-title="Thumb"><img src="{{ asset(listing.getCoverImage) }}" alt="Place Thumb"></td>
                            <td data-title="Place name"><b>{{ listing.getName }}</b></td>
                            <td data-title="City">{{ listing.city }}</td>
                            <td data-title="Category">{{ listing.getCategory }}</td>
                            <td data-title="Status" class="{{ listing.status }}">{{ listing.getStatus }}</td>
                            <td data-title="" class="place-action">
                                <a href="{{ path('listing_edit', {'id': listing.getId}) }}" class="edit" title="Edit"><i class="las la-edit"></i></a>
                                <a href="{{ path('listing_detail', {'id': listing.getId}) }}" class="view" title="View"><i class="la la-eye"></i></a>
                                <a href="{{ path('listing_delete', {'id': listing.getId}) }}" class="" title=""><i class="la la-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination align-left">
                    <div class="pagination__numbers">
                        <span>1</span>
                        <a title="2" href="#">2</a>
                        <a title="3" href="#">3</a>
                        <a title="Next" href="#">
                            <i class="la la-angle-right"></i>
                        </a>
                    </div>
                </div><!-- .pagination -->
            </div><!-- .member-place-wrap -->
        </div>
    </div><!-- .site-content -->
</main><!-- .site-main -->
{% endblock %}