{% extends 'layout/template.html.twig' %}

{% block title %}
<title>Pricing Plan</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main">
    <div class="page-title page-title--small align-left" style="background-image: url(images/bg/bg-checkout.png);">
        <div class="container">
            <div class="page-title__content">
                <h1 class="page-title__name">Pricing Plan</h1>
            </div>
        </div>	
    </div><!-- .page-title -->
    <div class="site-content">
        <div class="pricing-area">
            <div class="container">
                <h2 class="title align-center">Find the plan that’s right for you</h2>
                <div class="pricing-inner">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="pricing-item">
                                <img src="{{ asset('assets/images/illustrations/plan-1.png') }}" alt="Basic">
                                <h3>Basic</h3>
                                <div class="price"><span class="currency">$</span>1.99<span class="time">per month</span></div>
                                <a href="#" class="btn" title="Get Started">Get Started</a>
                                <ul>
                                    <li>20 Places Post</li>
                                    <li>Featured Places</li>
                                    <li>Edit Your Place</li>
                                    <li><del>Add Booking</del></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pricing-item">
                                <div class="best-deal">Best Deal</div>
                                <img src="{{ asset('assets/images/illustrations/plan-2.png') }}" alt="Basic">
                                <h3>Standard</h3>
                                <div class="price"><span class="currency">$</span>5.99<span class="time">per month</span></div>
                                <a href="#" class="btn" title="Get Started">Get Started</a>
                                <ul>
                                    <li>100 Places Post</li>
                                    <li>Featured Places</li>
                                    <li>Edit Your Place</li>
                                    <li>Add Booking</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pricing-item">
                                <img src="{{ asset('assets/images/illustrations/plan-3.png') }}" alt="Basic">
                                <h3>Premium</h3>
                                <div class="price"><span class="currency">$</span>9.99<span class="time">per month</span></div>
                                <a href="#" class="btn" title="Get Started">Get Started</a>
                                <ul>
                                    <li>Unlimited Place Post</li>
                                    <li>Featured Places</li>
                                    <li>Edit Your Place</li>
                                    <li>Add Booking</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- .pricing-inner -->
                <div class="payment-method">
                    <ul>
                        <li><img src="{{ asset('assets/images/assets/paypal.png') }}" alt="Paypal"></li>
                        <li><img src="{{ asset('assets/images/assets/stripe.png') }}" alt="Stripe"></li>
                        <li><img src="{{ asset('assets/images/assets/skrill.png') }}" alt="Skrill"></li>
                        <li><img src="{{ asset('assets/images/assets/master-card.png') }}" alt="Master-card"></li>
                    </ul>
                    <p>Payment Methods We Accept for Purchases</p>
                </div><!-- .payment-method -->
            </div>
        </div><!-- .pricing-area -->
        <div class="frequently-asked">
            <div class="container">
                <div class="title">
                    <h2>Frequently Asked Questions</h2>
                    <p>Got questions? Maybe we have answers.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="asked-item">
                            <h3>Is the Premium subscription plan recurrent?</h3>
                            <p>Yes, the Premium subscription plan is charged every month/year. However, you can cancel it anytime.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked-item">
                            <h3>Will my data be private and safe?</h3>
                            <p>Yes. Long answer: take a look at all the security measures we take to protect your business.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked-item">
                            <h3>Can I change plans anytime I want?</h3>
                            <p>Golo plans work on a month-to-month basis. You can start/stop or make changes to your plan any time you want – however, we won’t give refunds for cancellation or plan downgrades.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="asked-item">
                            <h3>What happens if I change from monthly to yearly billing?</h3>
                            <p>When you change from monthly to yearly billing, you will be billed immediately, and a new subscription cycle will start from that date. The date of the modification becomes the new yearly subscription date.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .frequently-asked -->
    </div><!-- .site-content -->
</main><!-- .site-main -->
{% endblock %}