{% extends 'layout/admin/app.html.twig' %}

{% block title %}
<title>Admin Review Edit</title>
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Review Edit</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active">Review Edit</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="container-fluid">
    <div class="row" style="display: flex; justify-content: center; margin: 50px;">
      <!-- left column -->
      <div class="col-md-6 col-md-offset-3">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit Review</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="{{ path('admin_review_update', {'id': review.getId}) }}" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label>Listing</label>
                <select class="form-control select2" name="listing_id" style="width: 100%;" value="{{ review.getListingId }}">
                  {% for listing in listings %}
                    {% if listing.getId == review.getListingId %}
                    <option value="{{ listing.getId }}" selected>{{ listing.getName }}</option>
                    {% else %}
                    <option value="{{ listing.getId }}">{{ listing.getName }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="rate">Rate</label>
                {% if (old is defined) and ('rate' in old|keys) %}
                <input type="number" class="form-control" name="rate" id="rate" value="{{ old.rate }}">
                {% else %}
                <input type="number" class="form-control" name="rate" id="rate" value="{{ review.getRate }}">
                {% endif %}
                {% if (errors is defined) and ('rate' in errors|keys) %}
                <span style="color: red;">{{ errors.rate }}</span>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                {% if (old is defined) and ('rate' in old|keys) %}
                <textarea name="description" id="description" row="8" style="width: 100%;">{{ old.description }}</textarea>
                {% else %}
                <textarea name="description" id="description" row="8" style="width: 100%;">{{ review.getDescription }}</textarea>
                {% endif %}
                {% if (errors is defined) and ('description' in errors|keys) %}
                <span style="color: red;">{{ errors.description }}</span>
                {% endif %}
              </div>
              <div class="form-check">
                {% if (old is defined) and ('feature' in old|keys) %}
                  {% if old.feature %}
                  <input type="checkbox" class="form-check-input" id="feature" name="feature" value="true" checked>
                  {% else %}
                  <input type="checkbox" class="form-check-input" id="feature" name="feature" value="true">
                  {% endif %}
                {% else %}
                  {% if review.getFeature %}
                  <input type="checkbox" class="form-check-input" id="feature" name="feature" value="true" checked>
                  {% else %}
                  <input type="checkbox" class="form-check-input" id="feature" name="feature" value="true">
                  {% endif %}
                {% endif %}
                <label class="form-check-label" for="feature">Feature</label>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <a href="{{ path('admin_review') }}" class="btn btn-info">Cancel</a>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
//Date range picker
$('#reservationdate').datetimepicker({
    format: 'L'
});
</script>
{% endblock %}