<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}{% endblock %}
  <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/line-awesome/css/line-awesome.min.css') }}" />
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/jqvmap/jqvmap.min.css') }}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets2/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets2/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('assets2/dist/css/adminlte.min.css') }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/daterangepicker/daterangepicker.css') }}">
  <!-- summernote -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/summernote/summernote-bs4.min.css') }}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{{ asset('assets2/plugins/select2/css/select2.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets2/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/line-awesome/css/line-awesome.min.css') }}" />

  {% block stylesheets %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {{ include('layout/admin/header.html.twig') }}
    {{ include('layout/admin/sidebar.html.twig') }}
    {% block body %}{% endblock %}
    {{ include('layout/admin/footer.html.twig') }}
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  <!-- jQuery -->
  <script src="{{ asset('assets2/plugins/jquery/jquery.min.js') }}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{{ asset('assets2/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
  <!-- jQuery Knob Chart -->
  <script src="{{ asset('assets2/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
  <!-- Bootstrap 4 -->
  <script src="{{ asset('assets2/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ asset('assets2/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
  <!-- DataTables  & Plugins -->
  <script src="{{ asset('assets2/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/jszip/jszip.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/pdfmake/pdfmake.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/pdfmake/vfs_fonts.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
  <!-- bs-custom-file-input -->
  <script src="{{ asset('assets2/plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
  <!-- AdminLTE App -->
  <script src="{{ asset('assets2/dist/js/adminlte.min.js') }}"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{{ asset('assets2/dist/js/demo.js') }}"></script>

  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Select2 -->
  <script src="{{ asset('assets2/plugins/select2/js/select2.full.min.js') }}"></script>
  <!-- InputMask -->
  <script src="{{ asset('assets2/plugins/moment/moment.min.js') }}"></script>
  <script src="{{ asset('assets2/plugins/inputmask/jquery.inputmask.min.js') }}"></script>
  <!-- bootstrap color picker -->
  <script src="{{ asset('assets2/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
  
  <!-- ChartJS -->
  <script src="{{ asset('assets2/plugins/chart.js/Chart.min.js') }}"></script>
  <!-- Sparkline -->
  <script src="{{ asset('assets2/plugins/sparklines/sparkline.js') }}"></script>
  <!-- Bootstrap4 Duallistbox -->
  <script src="{{ asset('assets2/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js')}}"></script>
  <!-- daterangepicker -->
  <script src="{{ asset('assets2/plugins/daterangepicker/daterangepicker.js') }}"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="{{ asset('assets2/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
  <!-- Summernote -->
  <script src="{{ asset('assets2/plugins/summernote/summernote-bs4.min.js') }}"></script>
  <!-- overlayScrollbars -->
  <script src="{{ asset('assets2/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="{{ asset('assets2/dist/js/pages/dashboard.js') }}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  {% block javascripts %}{% endblock %}
</body>
</html>
