{% extends 'layout/template.html.twig' %}

{% block title %}
<title>About Us</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main">
    <div class="page-title page-title--small align-left" style="background-image: url(images/bg/bg-about.png);">
        <div class="container">
            <div class="page-title__content">
                <h1 class="page-title__name">About Us</h1>
                <p class="page-title__slogan">Tell you about us</p>
            </div>
        </div>	
    </div><!-- .page-title -->
    <div class="site-content">
        <div class="container">
            <div class="company-info flex-inline">
                <img src="{{ asset('assets/images/about-2.jpeg') }}" alt="Our Company">
                <div class="ci-content">
                    <span>Our Company</span>
                    <h2>Mission statement</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div><!-- .company-info -->
            <div class="our-team">
                <div class="container">
                    <h2 class="title align-center">Meet Our Team</h2>
                </div>
                <div class="ot-content grid grid-4">
                    <div class="grid-item ot-item hover__box">
                        <div class="hover__box__thumb"><img src="{{ asset('assets/images/people/people-1.jpg') }}" alt=""></div>
                        <div class="ot-info">
                            <h3>Jaspreet Bhamrai</h3>
                            <span class="job">Co - founder</span>
                        </div>
                    </div>
                    <div class="grid-item ot-item hover__box">
                        <div class="hover__box__thumb"><img src="{{ asset('assets/images/people/people-2.jpg') }}" alt=""></div>
                        <div class="ot-info">
                            <h3>Justine Robinson</h3>
                            <span class="job">Marketing Guru</span>
                        </div>
                    </div>
                    <div class="grid-item ot-item hover__box">
                        <div class="hover__box__thumb"><img src="{{ asset('assets/images/people/people-3.jpg') }}" alt=""></div>
                        <div class="ot-info">
                            <h3>Jeremías Romero</h3>
                            <span class="job">Designer</span>
                        </div>
                    </div>
                    <div class="grid-item ot-item hover__box">
                        <div class="hover__box__thumb"><img src="{{ asset('assets/images/people/people-4.jpg') }}" alt=""></div>
                        <div class="ot-info">
                            <h3>Rutherford Brannan</h3>
                            <span class="job">Mobile developer</span>
                        </div>
                    </div>
                </div><!-- .ot-content -->
            </div><!-- .our-team -->
            <div class="join-team align-center">
                <div class="container">
                    <h2 class="title">Join our team</h2>
                    <div class="jt-content">
                        <p>We’re always looking for talented individuals and <br> people who are hungry to do great work.</p>
                        <a href="#" class="btn" title="View openings">View openings</a>
                    </div>
                </div>
            </div><!-- .join-team -->
        </div>
    </div><!-- .site-content -->
</main><!-- .site-main -->
{% endblock %}