<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block title %}{% endblock %}
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
	<!-- favicons -->
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}">

	<!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fonts/jost/stylesheet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/line-awesome/css/line-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/fontawesome-pro/css/fontawesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/slick/slick-theme.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/slick/slick.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/quilljs/css/quill.bubble.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/quilljs/css/quill.core.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/quilljs/css/quill.snow.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/chosen/chosen.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/datetimepicker/jquery.datetimepicker.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/venobox/venobox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    {% block stylesheets %}{% endblock %}
    <!-- jQuery -->    
    <script src="{{ asset('assets/js/jquery-1.12.4.js') }}"></script>
	<script src="{{ asset('assets/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/libs/slick/slick.min.js') }}"></script>
	<script src="{{ asset('assets/libs/slick/jquery.zoom.min.js') }}"></script>
	<script src="{{ asset('assets/libs/isotope/isotope.pkgd.min.js') }}"></script>
	<script src="{{ asset('assets/libs/quilljs/js/quill.core.js') }}"></script>
    <script src="{{ asset('assets/libs/quilljs/js/quill.js') }}"></script>
    <script src="{{ asset('assets/libs/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('assets/libs/datetimepicker/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ asset('assets/libs/venobox/venobox.min.js') }}"></script>
    <script src="{{ asset('assets/libs/waypoints/jquery.waypoints.min.js') }}"></script>
    <!-- orther script -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
</head>

<body>
	<div id="wrapper">
        {{ include('layout/header/app.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('layout/footer.html.twig') }}
		
	</div><!-- #wrapper -->
    {% block javascripts %}{% endblock %}
</body>
</html>