<div class="member-menu">
    <div class="container">
        <ul>
            <li class="active"><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ path('booking') }}">Bookings</a></li>
            <li><a href="{{ path('listing') }}">Listings</a></li>
            <li><a href="{{ path('wishlist') }}">Wishlist</a></li>
            <li><a href="{{ path('profile') }}">Profile</a></li>
        </ul>
    </div>
</div>