<header id="header" class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-5">
                <div class="site">
                    <div class="site__menu">
                        <a title="Menu Icon" href="#" class="site__menu__icon">
                            <i class="las la-bars la-24-black"></i>
                        </a>
                        <div class="popup-background"></div>
                        <div class="popup popup--left">
                            <a title="Close" href="#" class="popup__close">
                                <i class="las la-times la-24-black"></i>
                            </a><!-- .popup__close -->
                            <div class="popup__content">
                                <div class="popup__user popup__box open-form">
                                    <a title="Login" href="#" class="open-login">Login</a>
                                    <a title="Sign Up" href="#" class="open-signup">Sign Up</a>
                                </div><!-- .popup__user -->
                                <div class="popup__destinations popup__box">
                                    <ul class="menu-arrow">
                                        <li>
                                            <a title="Destinations" href="#">Destinations </a>
                                            <ul class="sub-menu">
                                                <li><a href="{{ path('citydetail2') }}" title="Tokyo">Tokyo</a></li>
                                                <li><a href="{{ path('citydetail2') }}" title="New York">New York</a></li>
                                                <li><a href="{{ path('citydetail2') }}" title="Barcelona">Barcelona</a></li>
                                                <li><a href="{{ path('citydetail2') }}" title="Amsterdam">Amsterdam</a></li>
                                                <li><a href="{{ path('citydetail2') }}" title="Los Angeles">Los Angeles</a></li>
                                                <li><a href="{{ path('citydetail2') }}" title="London">London</a></li>
                                                <li><a href="{{ path('citydetail2') }}" title="Bangkok">Bangkok</a></li>
                                                <li><a href="{{ path('citydetail2') }}" title="Paris">Paris</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="popup__menu popup__box">
                                    <ul class="menu-arrow">
                                        <li>
                                            <a href="#" title="Demos">Demos</a>
                                            <ul class="sub-menu">
                                                <li><a href="home-restaurant.html" title="Restaurant Listing">Restaurant Listing</a></li>
                                                <li><a href="home-business.html" title="Business Listing">Business Listing</a></li>
                                                <li><a href="home-countryguide.html" title="Country Travel Guide">Country Travel Guide</a></li>
                                                <li><a href="home-cityguide.html" title="City Travel Guide">City Travel Guide</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" title="Listings">Listings</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#" title="Search Layout">Search Layout</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="ex-half-map-1.html" title="Half Map – Left Filter">Half Map – Left Filter</a></li>
                                                        <li><a href="ex-half-map-2.html" title="Half Map – Top Filter">Half Map – Top Filter</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" title="City Layout">City Layout</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="{{ path('citydetail2') }}" title="Half Map – Left Filter">Half Map – Left Filter</a></li>
                                                        <li><a href="{{ path('citydetail2') }}" title="Half Map – Top Filter">Half Map – Top Filter</a></li>
                                                        <li><a href="{{ path('citydetail3') }}" title="Without Map">Without Map</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" title="Listing Detail">Single Layout</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="single-1.html" title="Carousel">Default - Carousel</a></li>
                                                        <li><a href="single-2.html" title="Image">Default - Image</a></li>
                                                        <li><a href="single-3.html" title="Restaurant">Restaurant Type</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" title="Booking Type">Booking Type</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="bk-booking-form.html" title="Appointment Booking">Appointment Booking</a></li>
                                                        <li><a href="bk-enquiry-form.html" title="Enquiry Form">Enquiry Form</a></li>
                                                        <li><a href="bk-affiliate-link.html" title="Affiliate Link">Affiliate Link</a></li>
                                                        <li><a href="bk-banner-ads.html" title="Affiliate Banner">Affiliate Banner</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a title="Page" href="#">Page</a>
                                            <ul class="sub-menu">
                                                <li><a title="About" href="{{ path('aboutus') }}">About Us</a></li>
                                                <li><a title="FAQ's" href="">FAQ's</a></li>
                                                <li><a title="App Landing" href="{{ path('app') }}">App Landing</a></li>
                                                <li><a title="Contacts" href="{{ path('contactus') }}">Contacts</a></li>
                                                <li><a title="Add Listing" href="add-place.html">Add Listing</a></li>
                                                <li><a title="Pricing" href="">Pricing</a>
                                                    <ul class="sub-menu">
                                                        <li><a title="Pricing Plan" href="{{ path('pricing') }}">Pricing Plan</a></li>
                                                        <li><a title="Pricing Plan Checkout" href="pricing-checkout.html">Pricing Checkout</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a title="Page" href="#">Shop</a>
                                                    <ul class="sub-menu">
                                                        <li><a title="Products" href="shop.html">Products</a></li>
                                                        <li><a title="Product Detail" href="shop-detail.html">Product Detail</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a title="Page" href="#">Blog</a>
                                                    <ul class="sub-menu">
                                                        <li><a title="Fullwidth" href="{{ path('blog') }}">Fullwidth</a></li>
                                                        <li><a title="Right Sidebar" href="blog-right-sidebar.html">Right Sidebar</a></li>
                                                        <li><a title="Blog Detail" href="">Blog Detail</a></li>
                                                    </ul>
                                                </li>
                                                <li><a title="Owner Dashboard" href="{{ path('dashboard') }}">Owner Dashboard</a></li>
                                                <li><a title="Owner Single" href="{{ path('single') }}">Owner Single</a></li>
                                                <li><a title="Construction" href="construction.html">Construction</a></li>
                                                <li><a title="Coming Soon" href="{{ path('comingsoon') }}">Coming Soon </a></li>
                                                <li><a title="404" href="404.html">404 Page</a></li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </div><!-- .popup__menu -->
                            </div><!-- .popup__content -->
                            <div class="popup__button popup__box">
                                <a title="Add place" href="add-place.html" class="btn">
                                    <i class="la la-plus"></i>
                                    <span>Add place</span>
                                </a>
                            </div><!-- .popup__button -->
                        </div><!-- .popup -->
                    </div><!-- .site__menu -->
                    <div class="site__brand">
                        <a title="Logo" href="home-restaurant.html" class="site__brand__logo"><img src="{{ asset('assets/images/assets/logo.png') }}" alt="Golo"></a>
                    </div><!-- .site__brand -->
                    
                </div><!-- .site -->
            </div><!-- .col-md-6 -->
            <div class="col-xl-6 col-7">
                <div class="right-header align-right">
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="#" title="Demos">Demos</a>
                                <ul class="sub-menu">
                                    <li><a href="home-restaurant.html" title="Restaurant Listing">Restaurant Listing</a></li>
                                    <li><a href="home-business.html" title="Business Listing">Business Listing</a></li>
                                    <li><a href="home-countryguide.html" title="Country Travel Guide">Country Travel Guide</a></li>
                                    <li><a href="home-cityguide.html" title="City Travel Guide">City Travel Guide</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="Listings">Listings</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#" title="Search Layout">Search Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="ex-half-map-1.html" title="Half Map – Left Filter">Half Map – Left Filter</a></li>
                                            <li><a href="ex-half-map-2.html" title="Half Map – Top Filter">Half Map – Top Filter</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" title="City Layout">City Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="{{ path('citydetail2') }}" title="Half Map – Left Filter">Half Map – Left Filter</a></li>
                                            <li><a href="{{ path('citydetail2') }}" title="Half Map – Top Filter">Half Map – Top Filter</a></li>
                                            <li><a href="{{ path('citydetail3') }}" title="Without Map">Without Map</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" title="Listing Detail">Single Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="single-1.html" title="Carousel">Default - Carousel</a></li>
                                            <li><a href="single-2.html" title="Image">Default - Image</a></li>
                                            <li><a href="single-3.html" title="Restaurant">Restaurant Type</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" title="Booking Type">Booking Type</a>
                                        <ul class="sub-menu">
                                            <li><a href="bk-booking-form.html" title="Appointment Booking">Appointment Booking</a></li>
                                            <li><a href="bk-enquiry-form.html" title="Enquiry Form">Enquiry Form</a></li>
                                            <li><a href="bk-affiliate-link.html" title="Affiliate Link">Affiliate Link</a></li>
                                            <li><a href="bk-banner-ads.html" title="Affiliate Banner">Affiliate Banner</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a title="Page" href="#">Page</a>
                                <ul class="sub-menu">
                                    <li><a title="About" href="{{ path('aboutus') }}">About Us</a></li>
                                    <li><a title="FAQ's" href="">FAQ's</a></li>
                                    <li><a title="App Landing" href="{{ path('app') }}">App Landing</a></li>
                                    <li><a title="Contacts" href="{{ path('contactus') }}">Contacts</a></li>
                                    <li><a title="Add Listing" href="add-place.html">Add Listing</a></li>
                                    <li><a title="Pricing" href="">Pricing</a>
                                        <ul class="sub-menu">
                                            <li><a title="Pricing Plan" href="{{ path('pricing') }}">Pricing Plan</a></li>
                                            <li><a title="Pricing Plan Checkout" href="pricing-checkout.html">Pricing Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a title="Page" href="#">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a title="Products" href="shop.html">Products</a></li>
                                            <li><a title="Product Detail" href="shop-detail.html">Product Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a title="Page" href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a title="Fullwidth" href="{{ path('blog') }}">Fullwidth</a></li>
                                            <li><a title="Right Sidebar" href="blog-right-sidebar.html">Right Sidebar</a></li>
                                            <li><a title="Blog Detail" href="">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a title="Owner Dashboard" href="{{ path('dashboard') }}">Owner Dashboard</a></li>
                                    <li><a title="Owner Single" href="{{ path('single') }}">Owner Single</a></li>
                                    <li><a title="Construction" href="">Construction</a></li>
                                    <li><a title="Coming Soon" href="{{ path('comingsoon') }}">Coming Soon </a></li>
                                    <li><a title="404" href="{{ path('error_404') }}">404 Page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% if app.session.get('user') %}
                    <div class="right-header__out">
                        <a title="Logout" class="open-logout" href="{{path('deconnexion')}}">Logout</a>
                    </div><!-- .right-header__out -->
                    {% else %}
                    <div class="right-header__login">
                        <a title="Login" class="" href="{{path('connexion')}}">Login</a>
                    </div><!-- .right-header__login -->
                    <div class="right-header__register">
                        <a title="Register" class="" href="{{path('user_new')}}">Register</a>
                    </div><!-- .right-header__register -->
                    {% endif %}
                    <div class="popup popup-form">
                        <a title="Close" href="#" class="popup__close">
                            <i class="las la-times la-24-black"></i>
                        </a><!-- .popup__close -->
                        <ul class="choose-form">
                            <li class="nav-signup"><a title="Sign Up" href="#signup">Sign Up</a></li>
                            <li class="nav-login"><a title="Log In" href="#login">Log In</a></li>
                        </ul>
                        <p class="choose-more">Continue with <a title="Facebook" class="fb" href="#">Facebook</a> or <a title="Google" class="gg" href="#">Google</a></p>
                        <p class="choose-or"><span>Or</span></p>
                        <div class="popup-content">
                            <form action="#" class="form-sign form-content" id="signup">
                                <div class="field-inline">
                                    <div class="field-input">
                                        <input type="text" placeholder="First Name" value="" name="first_name">
                                    </div>
                                    <div class="field-input">
                                        <input type="text" placeholder="Last Name" value="" name="last_name">
                                    </div>
                                </div>
                                <div class="field-input">
                                    <input type="email" placeholder="Email" value="" name="email">
                                </div>
                                <div class="field-input">
                                    <input type="password" placeholder="Password" value="" name="password">
                                </div>
                                <div class="field-check">
                                    <label for="accept">
                                        <input type="checkbox" id="accept" value="">
                                        Accept the <a title="Terms" href="#">Terms</a> and <a title="Privacy Policy" href="#">Privacy Policy</a>
                                        <span class="checkmark">
                                            <i class="la la-check"></i>
                                        </span>
                                    </label>
                                </div>
                                <input type="submit" name="submit" value="Sign Up">
                            </form>
                            <form action="#" class="form-log form-content" id="login">
                                <div class="field-input">
                                    <input type="text" placeholder="Username or Email" value="" name="user">
                                </div>
                                <div class="field-input">
                                    <input type="password" placeholder="Password" value="" name="password">
                                </div>
                                <a title="Forgot password" class="forgot_pass" href="#">Forgot password</a>
                                <input type="submit" name="submit" value="Login">
                            </form>
                        </div>
                    </div><!-- .popup-form -->
                    <div class="right-header__search">
                        <a title="Search" href="#" class="search-open">
                            <i class="las la-search la-24-black"></i>
                        </a>
                        <div class="site__search">
                            <a title="Close" href="#" class="search__close">
                                <i class="la la-times"></i>
                            </a><!-- .search__close -->
                            <form action="#" class="site__search__form" method="GET">
                                <div class="site__search__field">
                                    <span class="site__search__icon">
                                        <i class="las la-search la-24-black"></i>
                                    </span><!-- .site__search__icon -->
                                    <input class="site__search__input" type="text" name="s" placeholder="Search places, cities">
                                </div><!-- .search__input -->
                            </form><!-- .search__form -->
                        </div><!-- .site__search -->
                    </div>
                    <div class="right-header__button btn">
                        <a title="Add place" href="{{ path('listing_create') }}">
                            <i class="las la-plus la-24-white"></i>
                            <span>Add Listing</span>
                        </a>
                    </div><!-- .right-header__button -->
                </div><!-- .right-header -->
            </div><!-- .col-md-6 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</header><!-- .site-header -->